<li>
{% if site.feedback_text %}
  {% assign feedback_text = site.feedback_text %}
{% else %}
  {% assign feedback_text = "Feedback" %}
{% endif %}

{% if site.feedback_link %}
  <a class="email" title="Submit feedback" href="{{site.feedback_link}}">{{feedback_text}}</a>
{% else %}
  <a class="email" title="Submit feedback" href="#" onclick="javascript:window.location='mailto:{{site.feedback_email}}?subject={{site.feedback_subject_line}} - <제목>&body= ComponentOne(컴포넌트원)에 대한 문의 내용을 보내주시면, 빠른 시일 내에 회신드겠습니다."><i class="fa fa-envelope-o"></i> {{feedback_text}}</a>
{% endif %}
</li>
